body{
    background-color: bisque;
}

.shake{
    text-align: center;
    color:midnightblue;
    font-size:10px;
}

.shake-crazy{
    text-align: center;
}


.vistacreate img {
    display: flex;
    align-items: center;
    height:100%;
    width:100%;
    background-image: url(/img/PRECISANDO\ DE\ _CULOS__logo.png);
}

footer{
 text-align: center;    
}

